* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 80%;
  margin: auto;
}
body {
  font-family: "JetBrains Mono", monospace;
}
button{
  font-family: "JetBrains Mono", monospace;
}