* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
body {
  font-family: "JetBrains Mono", monospace;
}
button{
  font-family: "JetBrains Mono", monospace;
}